<a href="https://colab.research.google.com/github/ankitkr47/python/blob/main/pandasNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
s = pd.Series()
print(s)

Series([], dtype: float64)

<ipython-input-2-7114e1bb196c>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series()

In [ ]:
import numpy as np
data = np.array(['a','b','c','d'])
s1=pd.Series(data)
print(s1)

0    a
1    b
2    c
3    d
dtype: object

In [ ]:
s2=pd.Series(data,index=[100,101,102,103])
print(s2)

100    a
101    b
102    c
103    d
dtype: object

In [ ]:
data2 = {'a':0.,'b':1.,'c':2.}
s3=pd.Series(data2);
print(s3)

a    0.0
b    1.0
c    2.0
dtype: float64

In [ ]:
s4=pd.Series(data2,index=['b','c','d','a'])
print(s4)

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [ ]:
s5 = pd.Series(5,index=[0,1,2,3])
print(s5)

0    5
1    5
2    5
3    5
dtype: int64

In [ ]:
s6 = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s6[0])
print(s6['b'])
print(s6[['a','b']])

1
2
a    1
b    2
dtype: int64

In [ ]:
print(s6[:3])
print(s6[-3:])

a    1
b    2
c    3
dtype: int64
c    3
d    4
e    5
dtype: int64

In [ ]:
df=pd.DataFrame()
print(df)
df

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

In [ ]:
data=[1,2,3,4,5,6]
df = pd.DataFrame(data)
# print(df)
df

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [ ]:
data1 = [['alex', 10],['bob', 12],['clarke', 13]]
df = pd.DataFrame(data1,columns=['name','age'])
df

     name  age
0    alex   10
1     bob   12
2  clarke   13

In [ ]:
data1 = [['alex', 10],['bob', 12],['clarke', 13]]
df = pd.DataFrame(data1,columns=['name','age'],dtype=float)
df

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

     name   age
0    alex  10.0
1     bob  12.0
2  clarke  13.0

In [ ]:
# from pandas.io.formats.style_render import DataFrame
data={'name':['tom','jack','steve','ricky'],'age':[29,34,25,42]}
df=pd.DataFrame(data)
df

    name  age
0    tom   29
1   jack   34
2  steve   25
3  ricky   42

In [ ]:
data={'name':['tom','jack','steve','ricky'],'age':[29,34,25,42]}
df=pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])
df

        name  age
rank1    tom   29
rank2   jack   34
rank3  steve   25
rank4  ricky   42

In [ ]:
data = [{'a':1,'b':2},{'a':5,'b':15,'c':10}]
df=pd.DataFrame(data)
df

   a   b     c
0  1   2   NaN
1  5  15  10.0

In [ ]:
data = [{'a':1,'b':2},{'a':5,'b':15,'c':10}]
df=pd.DataFrame(data,index=['first','second'])
df

        a   b     c
first   1   2   NaN
second  5  15  10.0

In [ ]:
df1=pd.DataFrame(data,index=['first','second'],columns=['a','b'])
df2=pd.DataFrame(data,index=['first','second'],columns=['a','b1'])
print(df1)
df2

        a   b
first   1   2
second  5  15

        a  b1
first   1 NaN
second  5 NaN

In [ ]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),
   'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [ ]:
print(df['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [ ]:
print("adding a new column by passing a series")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df)
print("adding a new column using the existing columns in dataFrame:")
df['four']=df['one']+df['three']
print(df)

adding a new column by passing a series
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
adding a new column using the existing columns in dataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [ ]:
print(df)

print("Deleting the first column using DEL function")
del df['one']
print(df)

print("Deleting another colomn using pop function")
df.pop('two');
print(df)

   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN
Deleting the first column using DEL function
   two  three  four
a    1   10.0  11.0
b    2   20.0  22.0
c    3   30.0  33.0
d    4    NaN   NaN
Deleting another colomn using pop function
   three  four
a   10.0  11.0
b   20.0  22.0
c   30.0  33.0
d    NaN   NaN

In [ ]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),
   'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df)
print(df.loc['b'])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
one    2.0
two    2.0
Name: b, dtype: float64

In [ ]:
print(df.iloc[2])

one    3.0
two    3.0
Name: c, dtype: float64

In [ ]:
print(df[2:4])

   one  two
c  3.0    3
d  NaN    4

In [ ]:
df=pd.DataFrame([[1,2],[3,4]],columns=['a','b'])
df2=pd.DataFrame([[5,6],[7,8]],columns=['a','b'])
print(df)
print('\n')

df=df.append(df2)
print(df)

   a  b
0  1  2
1  3  4


   a  b
0  1  2
1  3  4
0  5  6
1  7  8

In [ ]:
df=df.drop(0)
df

   a  b
1  3  4
1  7  8

In [ ]:
s=pd.Series(np.random.randn(4))
print(s)

0   -0.810902
1    0.041003
2   -0.427301
3   -0.172398
dtype: float64

In [ ]:
print("the axes are:")
print(s.axes)

the axes are:
[RangeIndex(start=0, stop=4, step=1)]

In [ ]:
print("Is the object empty")
print(s.empty)

Is the object empty
False

In [ ]:
print("The dimensions of the object: ")
print(s.ndim)

The dimensions of the object:
1

In [ ]:
print("the size of the object: ")
print(s.size)

the size of the object:
4

In [ ]:
print("the actual data series is : ")
print(s.values)

the actual data series is :
[-0.81090217  0.04100322 -0.42730105 -0.17239822]

In [ ]:
print(s)
print("the first two rows of the series ")
print(s.head(2))
print("the last two rows of the series ")
print(s.tail(2))

0   -0.810902
1    0.041003
2   -0.427301
3   -0.172398
dtype: float64
the first two rows of the series
0   -0.810902
1    0.041003
dtype: float64
the last two rows of the series
2   -0.427301
3   -0.172398
dtype: float64

In [ ]:
d={'name':pd.Series(['tom','james','ricky','vin','steve','smith','jack']),
   'age':pd.Series([25,26,25,30,29,23]),
   'rating':pd.Series([4,23,3,24,3.98,2.56,3,20,4.6,3.8])}
df=pd.DataFrame(d)
print(df)

    name   age  rating
0    tom  25.0    4.00
1  james  26.0   23.00
2  ricky  25.0    3.00
3    vin  30.0   24.00
4  steve  29.0    3.98
5  smith  23.0    2.56
6   jack   NaN    3.00
7    NaN   NaN   20.00
8    NaN   NaN    4.60
9    NaN   NaN    3.80

In [ ]:
import numpy as np
print("The transpose of the data series is : ")
print(df.T)

The transpose of the data series is :
           0      1      2     3      4      5     6     7    8    9
name     tom  james  ricky   vin  steve  smith  jack   NaN  NaN  NaN
age     25.0   26.0   25.0  30.0   29.0   23.0   NaN   NaN  NaN  NaN
rating   4.0   23.0    3.0  24.0   3.98   2.56   3.0  20.0  4.6  3.8

In [ ]:
print("row axis labels and column axis labels are : ")
print(df.axes)

row axis labels and column axis labels are :
[RangeIndex(start=0, stop=10, step=1), Index(['name', 'age', 'rating'], dtype='object')]

In [ ]:
print("the data types of each column are")
df.dtypes

the data types of each column are

name       object
age       float64
rating    float64
dtype: object

In [ ]:
print("Is the object empty? ")
print(df.empty)

Is the object empty?
False

In [ ]:
print("The dimension of the object ")
print(df.ndim)

The dimension of the object
2

In [ ]:
print(df)
print("The shape of the object is")
print(df.shape)

    name   age  rating
0    tom  25.0    4.00
1  james  26.0   23.00
2  ricky  25.0    3.00
3    vin  30.0   24.00
4  steve  29.0    3.98
5  smith  23.0    2.56
6   jack   NaN    3.00
7    NaN   NaN   20.00
8    NaN   NaN    4.60
9    NaN   NaN    3.80
The shape of the object is
(10, 3)

In [ ]:
print(df.size)
print(df.values)

30
[['tom' 25.0 4.0]
 ['james' 26.0 23.0]
 ['ricky' 25.0 3.0]
 ['vin' 30.0 24.0]
 ['steve' 29.0 3.98]
 ['smith' 23.0 2.56]
 ['jack' nan 3.0]
 [nan nan 20.0]
 [nan nan 4.6]
 [nan nan 3.8]]

In [ ]:
print(df.head(2))
print(df.tail(2))

    name   age  rating
0    tom  25.0     4.0
1  james  26.0    23.0

In [ ]:
print(df.sum())

age       158.00
rating     91.94
dtype: float64

<ipython-input-17-860264f27a69>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.sum())

In [ ]:
print(df.sum(1))

0    29.00
1    49.00
2    28.00
3    54.00
4    32.98
5    25.56
6     3.00
7    20.00
8     4.60
9     3.80
dtype: float64

<ipython-input-20-343358c3c291>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.sum(1))

In [ ]:
print(df.mean())

age       26.333333
rating     9.194000
dtype: float64

<ipython-input-21-f98cceecb4a0>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.mean())

In [ ]:
print(df.std())

age       2.658320
rating    9.139035
dtype: float64

<ipython-input-22-c12939f2b3b0>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.std())

In [ ]:
print(df.describe())

             age     rating
count   6.000000  10.000000
mean   26.333333   9.194000
std     2.658320   9.139035
min    23.000000   2.560000
25%    25.000000   3.200000
50%    25.500000   3.990000
75%    28.250000  16.150000
max    30.000000  24.000000

In [ ]:
print(df.describe(include=['object']))

       name
count     7
unique    7
top     tom
freq      1

In [ ]:
print(df.describe(include='all'))

       name        age     rating
count     7   6.000000  10.000000
unique    7        NaN        NaN
top     tom        NaN        NaN
freq      1        NaN        NaN
mean    NaN  26.333333   9.194000
std     NaN   2.658320   9.139035
min     NaN  23.000000   2.560000
25%     NaN  25.000000   3.200000
50%     NaN  25.500000   3.990000
75%     NaN  28.250000  16.150000
max     NaN  30.000000  24.000000

In [ ]:
def adder(ele1,ele2):
  return ele1+ele2
df=pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df.pipe(adder,2)
print(df.apply(np.mean))

col1   -0.285483
col2    0.625452
col3    0.037139
dtype: float64

In [ ]:
# def adder(ele1,ele2):
#   return ele1+ele2
# df=pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df.apply(np.mean)
print(df.apply(np.mean))

col1   -0.285483
col2    0.625452
col3    0.037139
dtype: float64

In [ ]:
df.apply(np.mean,axis=1)
print(df.apply(np.mean))

col1   -0.285483
col2    0.625452
col3    0.037139
dtype: float64

In [ ]:
df.apply(lambda x:x.max()-x.min())
print(df.apply(np.mean))

col1   -0.285483
col2    0.625452
col3    0.037139
dtype: float64